/* Color Scheme
https://coolors.co/ecf8f8-eee4e1-e7d8c9-e6beae-5a4635*/

body {
    background-color: #e6beae;

}

.content {
    max-width: 750px;
    margin: 0 auto;
    color: #643219;
    background-color: #eee4e1;
    border-radius: 12px;
}

img {
    width: 140px;
    margin-left: 20px;
    margin-top: 20px;
}

header {
    background-color: #5a4635;
}

h1 {
    color: #ffffff;
    font-size: 1.5em;
    margin: auto;
    padding: 20px;
    font-family: Montserrat;
    text-shadow: 4px 4px 4px gray;
}

h2 {
    font-size: 1rem;
    margin: 0;
    font-family: Montserrat;
}

ul {
    margin: 0;
    padding: 0 0 0 30px;
    font-family: Montserrat;
}

.info {
    margin: 40px 20px;
}

footer {
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    background-color: #5a4635;
    margin: auto;
    padding: 2px;
    font-size: .8em;
    line-height: 1em;
    font-family: Montserrat;
}

footer a {
    color: white;
}


.last_line {
    color: #ffff00d8;
    font-size: .8em;
    padding: 1px;
}

li a:visited {
    color: #4646f5;
    background-color: transparent;

}

li a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}