/* Color Scheme
https://coolors.co/ecf8f8-eee4e1-e7d8c9-e6beae-5a4635*/

body {
    background-color: #e6beae;
}

.content {
    max-width: 750px;
    margin: 0 auto;
    color: #643219;
    background-color: #eee4e1;
    border-radius: 12px;
}

img {
    width: 20%;
    float: right;
    box-shadow: 1px 4px 25px #5a4635;
    margin: 0;
    border-radius: 12px;
    border-style: outset;
    border: 3px ridge #e6beae;
}

h1 {
    text-align: center;
    color: #ffffff;
    background-color: #5a4635;
    font-size: 2.5em;
    margin: auto;
    padding: 20px;
    border-radius: 12px 12px 0 0;
    font-family: Montserrat;
}

h2 {
    margin: 0;
    font-family: Montserrat;
}

ul {
    margin: 0;
    padding: 0 0 0 30px;
    font-family: Montserrat;
}

.info {
    margin: 40px 20px;
}

footer {
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    background-color: #5a4635;
    margin: auto;
    padding: 2px;
    border-radius: 0 0 12px 12px;
    font-size: .8em;
    line-height: 1em;
    font-family: Montserrat;
}

footer a {
    color: white;
}


.last_line {
    color: #ffff00d8;
    font-size: .8em;
    padding: 1px;
}

li a:visited {
    color: #4646f5;
    background-color: transparent;

}

li a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}