@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

#content {
    max-width: 650px;
    margin: 0 auto;
    font-family: Raleway;
}

img {
    height: 180px;
    float: right;
    box-shadow: 1px 4px 25px #643219;
    margin: 0;
}

h1 {
    text-align: center;
    letter-spacing: 5px;
    color: #ffffff;
    background-color: #643219;
    font-size: 2em;
    margin: auto;
    padding: 20px;
    border-radius: 12px;
}

.info {
    margin: 40px 50px;
}

footer {
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    background-color: #643219;
    margin: auto;
    padding: 2px;
    border-radius: 12px;
    font-size: .7em;
}

footer a {
    color: white;
}

footer p {
    line-height: .5em;
}

#last_line {
    color: yellow;
}