/* Color Scheme
https://coolors.co/022b3a-1f7a8c-bfdbf7-e1e5f2-ffffff   
*/

.content {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #1f7a8c;
    border-color: #1f7a8c;
    padding: 10px;
    box-shadow: 4px 4px 4px #bfdbf7;
    border-style: outset;
    border: 3px ridge #bfdbf7;
    border-radius: 12px;
}

header {
    background-color: #022b3a;
    border-radius: 12px;
}

h1,
h2 {
    color: white;
    text-align: center;
    font-family: Montserrat;
    padding: 10px 0;
}

img {
    width: 360px;
    height: 637px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

p {
    color: #bfdbf7;
    font-family: "roboto condensed";
    font-weight: bold;
    font-size: x-large;
}

a {
    color: #bfdbf7;
    font-family: "roboto condensed";
    font-weight: bolder;
    font-size: x-large;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
}

section {
    background-color: #022b3a;
}

.website1,
.website2,
.website3 {
    padding: 10px;
    box-shadow: 4px 4px 4px #bfdbf7;
    border-style: inset;
    border: 3px ridge #bfdbf7;
    border-radius: 12px;

}

/*----------tablet view----------------*/
/* @media only screen and (min-width: 37.5em) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

} */


/*----------Desktop view----------------*/
/* @media only screen and (min-width: 60em) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }

} */